@import url('https://fonts.googleapis.com/css2? family= Source+Code+Pro & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Source+Code+Pro&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #D3D3D3;
}
nav h1{
    color: #717171;
    font-size: 30px;
}
.logo{
    height: 30px;
    width: 30px;
}
.link{
    margin-top: 3px;
    margin-left: 700px;
}
.link a{
    text-decoration: none;
    color: black;   
    margin-right: 20px;
    border-bottom: 1px solid black;
    font-size: 20px;
    padding-bottom: 5px;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(sources/couchage-pour-chat-design-modified.jpg);
    background-size: cover;
    padding: 100 px;
    height: 50vh;
    color: black;
    font-weight: bold;
    font-size: 30px;
}

@media screen and (max-width:680px){
    nav .link{
        margin-left: 0px;
        margin-bottom: 20px;
    }
}


